asgiref
certifi
cloudinary
decouple
distlib
Django
djangorestframework
djangorestframework_simplejwt
dotenv
dulwich
fastjsonschema
filelock
idna
installer
more-itertools
msgpack
packaging
Paginator
pexpect
pillow
pkginfo
platformdirs
poetry-core
psycopg
psycopg2
ptyprocess
PyJWT
pyproject_hooks
python-dotenv
pywin32-ctypes
RapidFuzz
shellingham
six
sqlparse
tomlkit
trove-classifiers
typing_extensions
tzdata
urllib3
